@use "../variables" as v;

.card {
  background: v.$main-bg;
  padding: 2rem;
  margin: 0 1.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  .btn {
    justify-content: center;
    display:flex;
    }
    .boton {
      background-image:  linear-gradient(
        to right,
         #b62686,
         #d12dd1,
         #e431db, 
         #6c44ca,
         #453bd4
         );
    border: solid white;
    border-radius: 8rem;
    padding: 1.2rem 1rem;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
    }
}
