//fonts
$font-family: 'Montserrat', sans-serif;

//Backgrounds
$container-bg: linear-gradient(to right bottom,
 #6f3af1,
 #8033dc,
 #8a2ec8,
 #8f2bb5,
 #912ba3,
 #9128a3,
 #9124a2,
 #9120a2,
 #8e16b4,
 #870dc7, 
 #780ddd, 
 #5f15f3
);
$main-bg:  linear-gradient(
    to right,
     #b62686,
     #d12dd1,
     #e431db, 
     #6c44ca,
     #453bd4
     );
$white: white;
$black: black;
$error: #5c0e0e;